{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
 
</head>

<body class="sub_page">

  <div class="hero_area">
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
               <h2>Forgot Password</h2>
                  {% if msg %}
                      {{msg}}
                  {% endif %}
            </div>
            <form action="{% url 'forgot_password' %}" method="POST">
              {% csrf_token %}
                <div >
                    <input type="email" placeholder="Email" id="email" name="email">
                    <span id="email_error"></span>
                </div> 
                <div class="d-flex ">
                    <button type="submit">Send OTP</button>
                </div> 
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/contact-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->


 

</body>

</html>

{% endblock %}